.u-section-1-1 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 68px 0 60px;
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-top: 404px;
  }
}.u-section-1-2 {
  min-height: 1075px;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 1075px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 33px 225px 0;
}

.u-section-1-2 .u-text-2 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 44px 570px 0 -51px;
}

.u-section-1-2 .u-text-3 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -48px 0 0 708px;
}

.u-section-1-2 .u-text-4 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 44px 206px 0 207px;
}

.u-section-1-2 .u-text-5 {
  font-size: 0.75rem;
  animation-duration: 1000ms;
  margin: 16px 450px 0;
}

.u-section-1-2 .u-text-6 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 27px 0 0;
}

.u-section-1-2 .u-text-7 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 16px 10px 0;
}

.u-section-1-2 .u-image-1 {
  width: 393px;
  height: 528px;
  object-position: 50% 0%;
  animation-duration: 1000ms;
  margin: 5px auto 0 -331px;
}

.u-section-1-2 .u-image-2 {
  width: 944px;
  height: 528px;
  animation-duration: 1000ms;
  margin: -528px -310px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-text-1 {
    margin-right: 197px;
    margin-left: 686px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 432px;
    margin-left: 458px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: -103px;
    margin-left: 1008px;
  }

  .u-section-1-2 .u-text-4 {
    margin-right: 331px;
    margin-left: 607px;
  }

  .u-section-1-2 .u-text-5 {
    margin-right: 236px;
    margin-left: 850px;
  }

  .u-section-1-2 .u-text-6 {
    margin-right: 259px;
    margin-left: 881px;
  }

  .u-section-1-2 .u-text-7 {
    margin-left: 500px;
    margin-right: 500px;
  }

  .u-section-1-2 .u-image-1 {
    margin-right: 283px;
    margin-left: auto;
  }

  .u-section-1-2 .u-image-2 {
    margin-right: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 {
    min-height: 1013px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: -309px;
    margin-left: 1192px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: -128px;
    margin-left: 1018px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: -433px;
    margin-left: 1338px;
  }

  .u-section-1-2 .u-text-4 {
    margin-right: -112px;
    margin-left: 1050px;
  }

  .u-section-1-2 .u-text-5 {
    margin-right: -204px;
    margin-left: 1290px;
  }

  .u-section-1-2 .u-text-6 {
    margin-right: -202px;
    margin-left: 1342px;
  }

  .u-section-1-2 .u-text-7 {
    margin-right: 90px;
    margin-left: 1050px;
  }

  .u-section-1-2 .u-image-1 {
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-1-2 .u-image-2 {
    margin-right: -310px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 {
    min-height: 914px;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: -682px;
    margin-left: 1607px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: -586px;
    margin-left: 1476px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: -703px;
    margin-left: 1608px;
  }

  .u-section-1-2 .u-text-4 {
    margin-right: -562px;
    margin-left: 1500px;
  }

  .u-section-1-2 .u-text-5 {
    margin-right: -564px;
    margin-left: 1650px;
  }

  .u-section-1-2 .u-text-6 {
    margin-right: -579px;
    margin-left: 1719px;
  }

  .u-section-1-2 .u-text-7 {
    margin-right: -360px;
    margin-left: 1500px;
  }

  .u-section-1-2 .u-image-1 {
    margin-left: 300px;
  }

  .u-section-1-2 .u-image-2 {
    width: 540px;
    height: 302px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 {
    min-height: 733px;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: -1099px;
    margin-left: 2067px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: -1033px;
    margin-left: 1985px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: -1052px;
    margin-left: 2016px;
  }

  .u-section-1-2 .u-text-4 {
    margin-right: -1012px;
    margin-left: 2000px;
  }

  .u-section-1-2 .u-text-5 {
    margin-right: -964px;
    margin-left: 2050px;
  }

  .u-section-1-2 .u-text-6 {
    margin-right: -998px;
    margin-left: 2138px;
  }

  .u-section-1-2 .u-text-7 {
    margin-right: -860px;
    margin-left: 2000px;
  }

  .u-section-1-2 .u-image-1 {
    margin-left: 400px;
  }

  .u-section-1-2 .u-image-2 {
    width: 340px;
    height: 190px;
  }
}.u-section-1-3 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-1-3 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 33px auto 0;
}

.u-section-1-3 .u-group-1 {
  width: 359px;
  min-height: 501px;
  height: auto;
  animation-duration: 1000ms;
  background-image: linear-gradient(#e0e5eb, #41807c);
  margin: 88px auto 0 -326px;
}

.u-section-1-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-3 .u-text-2 {
  animation-duration: 1000ms;
  margin: -464px auto 0 27px;
}

.u-section-1-3 .u-text-3 {
  margin: 20px auto 0 27px;
}

.u-section-1-3 .u-text-4 {
  animation-duration: 1000ms;
  margin: 334px auto 0;
}

.u-section-1-3 .u-image-1 {
  width: 330px;
  height: 220px;
  margin: 29px -16px 0;
}

.u-section-1-3 .u-text-5 {
  width: 210px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1-3 .u-group-2 {
  width: 359px;
  min-height: 501px;
  height: auto;
  animation-duration: 1000ms;
  background-image: linear-gradient(#e0e5eb, #41807c);
  margin: -501px 128px 0 auto;
}

.u-section-1-3 .u-container-layout-2 {
  padding: 5px 30px 30px;
}

.u-section-1-3 .u-text-6 {
  animation-duration: 1000ms;
  margin: 1px auto 0;
}

.u-section-1-3 .u-image-2 {
  height: 220px;
  width: 331px;
  margin: 25px -16px 0;
}

.u-section-1-3 .u-text-7 {
  font-weight: 700;
  margin: 27px 0 0;
}

.u-section-1-3 .u-group-3 {
  width: 359px;
  min-height: 501px;
  height: auto;
  animation-duration: 1000ms;
  background-image: linear-gradient(#e0e5eb, #41807c);
  margin: -501px auto 0 108px;
}

.u-section-1-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1-3 .u-text-8 {
  animation-duration: 1000ms;
  margin: -28px 20px 0;
}

.u-section-1-3 .u-image-3 {
  width: 330px;
  height: 220px;
  margin: 27px -16px 0;
}

.u-section-1-3 .u-text-9 {
  width: 210px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1-3 .u-group-4 {
  width: 359px;
  min-height: 501px;
  height: auto;
  animation-duration: 1000ms;
  background-image: linear-gradient(#e0e5eb, #41807c);
  margin: -501px -306px 0 auto;
}

.u-section-1-3 .u-container-layout-4 {
  padding: 9px 30px 30px;
}

.u-section-1-3 .u-text-10 {
  animation-duration: 1000ms;
  margin: 0 -5px 0 5px;
}

.u-section-1-3 .u-image-4 {
  width: 330px;
  height: 220px;
  margin: 26px -16px 0;
}

.u-section-1-3 .u-text-11 {
  font-weight: 700;
  margin: 27px -1px 0;
}

.u-section-1-3 .u-text-12 {
  font-weight: 700;
  margin: 40px -1px 0;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-text-4 {
    margin-left: 22px;
  }

  .u-section-1-3 .u-image-1 {
    width: 331px;
    height: 199px;
    margin-top: 443px;
    margin-right: auto;
    margin-left: -7px;
  }

  .u-section-1-3 .u-text-5 {
    margin-top: -375px;
  }

  .u-section-1-3 .u-group-2 {
    min-height: 495px;
    margin-top: -298px;
  }

  .u-section-1-3 .u-text-6 {
    margin-top: -471px;
    margin-bottom: 60px;
    margin-left: 211px;
  }

  .u-section-1-3 .u-group-3 {
    margin-top: -495px;
  }

  .u-section-1-3 .u-text-8 {
    margin-right: auto;
    margin-left: 22px;
  }

  .u-section-1-3 .u-image-3 {
    width: 331px;
    height: 199px;
    margin-top: 443px;
    margin-right: auto;
    margin-left: -7px;
  }

  .u-section-1-3 .u-text-9 {
    margin-top: -375px;
  }

  .u-section-1-3 .u-text-10 {
    margin-top: -179px;
  }

  .u-section-1-3 .u-image-4 {
    margin-top: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-text-4 {
    margin-left: 17px;
  }

  .u-section-1-3 .u-text-6 {
    margin-left: 162px;
  }

  .u-section-1-3 .u-text-8 {
    margin-left: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 3861px;
  }

  .u-section-1-3 .u-group-1 {
    margin-top: 426px;
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-3 .u-text-2 {
    margin-left: 31px;
  }

  .u-section-1-3 .u-text-3 {
    margin-left: 31px;
  }

  .u-section-1-3 .u-text-4 {
    margin-top: 153px;
    margin-left: 13px;
  }

  .u-section-1-3 .u-image-1 {
    margin-top: 689px;
  }

  .u-section-1-3 .u-text-5 {
    margin-top: -439px;
    margin-left: 15px;
  }

  .u-section-1-3 .u-group-2 {
    margin-top: 426px;
  }

  .u-section-1-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-3 .u-text-6 {
    margin-left: 122px;
  }

  .u-section-1-3 .u-group-3 {
    margin-top: 1353px;
  }

  .u-section-1-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-3 .u-text-8 {
    margin-top: -211px;
    margin-left: 13px;
  }

  .u-section-1-3 .u-image-3 {
    margin-top: 689px;
  }

  .u-section-1-3 .u-text-9 {
    margin-top: -439px;
    margin-left: 15px;
  }

  .u-section-1-3 .u-group-4 {
    margin-top: -1428px;
  }

  .u-section-1-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-3 .u-text-10 {
    margin-left: 15px;
  }

  .u-section-1-3 .u-image-4 {
    margin-top: 66px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 3743px;
  }

  .u-section-1-3 .u-group-1 {
    margin-top: 387px;
  }

  .u-section-1-3 .u-text-4 {
    margin-top: 179px;
    margin-left: 8px;
  }

  .u-section-1-3 .u-image-1 {
    margin-top: 663px;
  }

  .u-section-1-3 .u-text-5 {
    margin-top: -426px;
  }

  .u-section-1-3 .u-group-2 {
    width: 340px;
    margin-top: 387px;
    margin-right: 0;
  }

  .u-section-1-3 .u-text-6 {
    margin-left: 77px;
  }

  .u-section-1-3 .u-group-3 {
    width: 340px;
    margin-top: 1275px;
    margin-left: 0;
  }

  .u-section-1-3 .u-text-8 {
    margin-top: -185px;
    margin-left: 8px;
  }

  .u-section-1-3 .u-image-3 {
    margin-top: 663px;
  }

  .u-section-1-3 .u-text-9 {
    margin-top: -426px;
  }

  .u-section-1-3 .u-group-4 {
    margin-top: -1389px;
  }

  .u-section-1-3 .u-text-10 {
    margin-top: -192px;
  }

  .u-section-1-3 .u-image-4 {
    margin-top: 79px;
  }
}.u-block-e12d-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-e12d-3 {
  position: absolute;
  left: 0;
}

.u-block-e12d-4 {
  position: absolute;
  right: 0;
}