.u-section-1-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  margin: 96px 0 60px;
}

@media (max-width: 991px) {
  .u-section-1-1 .u-text-1 {
    margin-top: 404px;
  }
}.u-section-1-2 {
  background-image: none;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px 225px 0;
}

.u-section-1-2 .u-text-2 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 57px 570px 0 -51px;
}

.u-section-1-2 .u-text-3 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -48px 0 0 708px;
}

.u-section-1-2 .u-text-4 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 44px auto 0 207px;
}

.u-section-1-2 .u-text-5 {
  font-size: 0.75rem;
  animation-duration: 1000ms;
  margin: 16px auto 0 450px;
}

.u-section-1-2 .u-text-6 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 42px 0 0;
}

.u-section-1-2 .u-text-7 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 16px 10px 0;
}

.u-section-1-2 .u-image-1 {
  object-position: 50% 100%;
  width: 939px;
  height: 737px;
  animation-duration: 1000ms;
  margin: 0 -172px 0 auto;
}

.u-section-1-2 .u-image-2 {
  width: 393px;
  height: 528px;
  object-position: 50% 0%;
  animation-duration: 1000ms;
  margin: -742px auto 0 -36px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 164px;
    margin-left: 286px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 461px;
    margin-left: 58px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: 100px;
    margin-left: 608px;
  }

  .u-section-1-2 .u-text-4 {
    margin-right: 207px;
  }

  .u-section-1-2 .u-text-5 {
    margin-right: 450px;
  }

  .u-section-1-2 .u-text-6 {
    margin-right: 100px;
    margin-left: 481px;
  }

  .u-section-1-2 .u-text-7 {
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-1-2 .u-image-2 {
    margin-left: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 210px;
    margin-left: 352px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 341px;
    margin-left: 178px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: 210px;
    margin-left: 498px;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1-2 .u-text-6 {
    margin-right: 210px;
    margin-left: 502px;
  }

  .u-section-1-2 .u-text-7 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1-2 .u-image-1 {
    width: 720px;
    height: 565px;
    margin-right: 0;
  }

  .u-section-1-2 .u-image-2 {
    margin-top: -570px;
    margin-left: 174px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 300px;
    margin-left: 407px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 300px;
    margin-left: 276px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: 300px;
    margin-left: 408px;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1-2 .u-text-6 {
    margin-right: 300px;
    margin-left: 519px;
  }

  .u-section-1-2 .u-text-7 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1-2 .u-image-1 {
    width: 540px;
    height: 424px;
  }

  .u-section-1-2 .u-image-2 {
    margin-top: -429px;
    margin-left: 264px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 94px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 400px;
    margin-left: 467px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 400px;
    margin-left: 385px;
  }

  .u-section-1-2 .u-text-3 {
    margin-right: 400px;
    margin-left: 416px;
  }

  .u-section-1-2 .u-text-4 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1-2 .u-text-6 {
    margin-right: 400px;
    margin-left: 538px;
  }

  .u-section-1-2 .u-text-7 {
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-1-2 .u-image-1 {
    width: 340px;
    height: 267px;
  }

  .u-section-1-2 .u-image-2 {
    width: 340px;
    height: 457px;
    margin-top: -272px;
    margin-left: 400px;
  }
}.u-block-e12d-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-e12d-3 {
  position: absolute;
  left: 0;
}

.u-block-e12d-4 {
  position: absolute;
  right: 0;
}